p{
    font-family: times;
    margin-top: 0;
    margin-bottom: 0;
}
.title{
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    line-height: 20px;
    margin-bottom: 8px;
}
.subtitle{
    font-size: 15px;
    color: rgb(96, 96, 96);
}
.author{
    font-size: 15px;
    color: rgb(96, 96, 96);
    margin-top: 20px;
}
.content{
    font-size: 15px;
    color: rgb(96, 96, 96);
    margin-top: 20px;
    width: 300px;
    line-height: 20px;
    margin-bottom: 200px;
}
.redbutton{
    margin-bottom: 50px;
    font-size: 14px;
    color: white;
    background-color: rgb(227,65,64);
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 450px;
}
.underline:hover{
    text-decoration: underline;
    cursor: pointer;
}
